<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="staff.Properties.Settings.Microsoft_Access_DatabaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\base.mdb"
            providerName="System.Data.OleDb" />
        <add name="staff.Properties.Settings.baseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\base.mdb"
            providerName="System.Data.OleDb" />
        <add name="staff.Properties.Settings.connString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\C#\staff\base.mdb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>